.sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 317px;
  height: 100%;
  z-index: 99;
  background: #FFF;
  box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.10), 0 10px 40px 0 rgba(29, 33, 38, 0.13);
  padding: 20px;
}

.sidebar.open {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background {
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.nav a {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
}

.nav a:hover {
  color: #58ACFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.nav a.active {
  color: #0059B2;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
}

.close {
  align-self: end;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.close img {
}
