.item {
  height: 2.25rem;
  border-bottom: 1px solid #E5E5E5;
  width: 100%;
}

.item td:last-child {
  font-weight: 600;
}

.item:last-of-type {
  border: none
}

.users {
  display: flex;
  flex-direction: column;
}

.buttonsContainer {
  display: flex;
  gap: 1rem;
  justify-content: end;
}

.container {
  width: 37.875rem;
}

.thead {
  background-color: #E5E5E5;
  font-weight: 600;
  height: 2.25rem;
}

.nameCol {
  width: calc(37.875rem / 2);
}

.ageCol {
  width: calc(37.875rem / 2);
}