@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.App {
    --header_height: 60px;
    margin-top: var(--header_height);
}

.hw {
    border: solid #D9D9D9;
    border-width: 1px 0;
    box-sizing: border-box;
    padding: 2rem;
}

.hwTitle {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    box-sizing: border-box;
    padding: 2rem;
}