.greetingForm {
}

.inputAndButtonContainer {
  display: flex;
  gap: 1rem;
  box-sizing: border-box;
  margin: 1rem 0;
}

.error {
  color: #C00;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input {
  width: 372px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #D1D1D1;
}

.input:focus {
}

.errorInput {
  border-radius: 5px;
  border: 1px solid #C00;
}

.button {
  display: inline-flex;
  height: 36px;
  padding: 5px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  flex-shrink: 0;
  border-radius: 3px;
  background: #06C;
  text-transform: capitalize;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.button:focus {
}

.button:active {
}

.button:disabled {
  opacity: 0.5;
}

.text {
  color: rgba(0, 0, 0, 0.50);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.greeting {
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
