.button {
  display: inline-flex;
  padding: 5px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  border: none;
}

.disabled {
  opacity: 0.5;
  background: #004D99;
  color: #002E5C;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

.secondary {
  border: 1px solid #06C;
  color: #06C;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

.default {
  background: #06C;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

.red {
  background: #CC1439;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
